.Form {
  text-align: center;
}

.Auth {
  position: static;
  top: 8px;
  right: 16px;
  font-size: 1px;
  text-align: right;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(7px + 1.2vmin);
  color: rgb(58, 182, 102);
}

.welcome {
  font-size: 1px;
}

table {
  border: 2px solid forestgreen;
  width: 1100px;
  height: 200px;
}
  
th {
  border-bottom: 1px solid black;
}
  
td {
  text-align: center;
}